<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>Google Docs converter</h1>
    <h2>URL:</h2>

    <form action="" method="post" name="gdoc">
        {{ form.hidden_tag() }}
        <p>
            {{ form.gdocs(size=80) }}
        </p>
        <p><input type="submit" value="convert"></p>
    </form>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        <li>{{ messages[0] }} </li>
    </ul>
    {% endif %}

    <h2>HTML Output</h2>
    {% if messages %}
    <pre>{{ messages[1] }}</pre>
    {% endif %}
    <h2>Markdown Output</h2>
    
    {% endwith %}

{% endblock %}
